@import "tailwindcss";

@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CPrime";
  src: url("../assets/fonts/CourierPrime-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #e3f0fd;
  color: rgb(0, 4, 44);
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.pageTopButton {
  position: relative;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 4rem;
  height: 4rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4em;
  font-family: "Oswald";
  font-weight: bold;
  color: #dcdff5;
  background-color: rgb(0, 23, 65);
  border-radius: 30%;
}


.pageTopButton:hover {
  transform: translateY(-5px);
}

.pageTopButton.isShow {
  opacity: 1;
  visibility: visible;
}

h1 {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: bold;
}

h2,
p {
  font-family: "Cprime";
}

.pageTitle {
  margin-left: 0.3rem;
  font-family: "Oswald";
  letter-spacing: 0.09rem;
  text-transform: uppercase;
}

.hamburger {
    margin-top: 0rem;
    padding-right: 20px;
    cursor: pointer;
    /* background-color: #ff9776; */
}

.hamburger .line{
    display: block;
    width: 40px;
    height: 2px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #01003a;
}

.work {
  display: block;
  margin-top: 3rem;
}

.work .work-titles {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
}

.work .work-titles .work-title {
  font-family: "Oswald";
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  margin-left: 0.3rem;
}

.work .work-titles .work-date {
  padding-top: 1.7rem;
  padding-left: 1rem;
  font-family: "Oswald";
  font-size: 1.2em;
}

.work .work-titles::after {
  position: absolute;
  content: "";
  width: 22rem;
  height: 1px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(10, 26, 57);
  border-radius: 2px;
}

.work .work-image {
  width: 60%;
  height: 60%;
}

.work .work-image :hover,
.work .work-image :focus {
  opacity: 90%;
}

/* ナビゲーションのスタイル */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0 5rem;
}

.nav-links a {
  position: relative;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-family: "Oswald";
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.nav-links a::before {
  position: absolute;
  content: "";
  width: 35%;
  height: 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto auto 1em;
  background-color: black;
}

.nav-links a::after {
  position: absolute;
  content: "";
  width: 35%;
  height: 3px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto 1em auto auto;
  background-color: black;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #aab4fd;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .nav-links a::before,
  .nav-links a::after,
  .hamburger {
    display: none;
  }
}