---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "About"
---

<BaseLayout pageTitle={pageTitle}>
    <p class="drop-cap-text">
        <span class="first-letter">H</span>
        ello! I'm Nietz, and I make games as a hobby. As of this moment (December 22, 2025), I am a freshman in college, and I first encountered Unity after entering university. I basically use Unity for development and haven't tried Godot or UE yet...
        (I don't even know when I'll ever get around to trying it)</p>
    <p>Well, for now...</p>
    <p>As long as I don't die, it's fine, right?</p>
</BaseLayout>