---
import BaseLayout from "../layouts/BaseLayout.astro";
import Work from "../components/Work.astro";

import DummyImage from "../assets/dummyimage.png"
import AstroImage from "../assets/astro.svg"

const pageTitle = "Works";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>My Works</h2>
    <div>
      <Work
        title="Dummy"
        image={DummyImage}
        date="2025-12-22"
        pageurl="/workspage/dummy/"
      />
      <Work
        title="Dummy"
        image={AstroImage}
        date="2025-12-22"
        pageurl="/workspage/dummy/"
      />
    </div>
</BaseLayout>