---
const { head, caption } = Astro.props;
---

<div class="largeNav">
    <a href="../about">
        <h2 class="mt-10">{head}<span></span></h2>
    </a>
    <hr class="border-1">
    <div class="textbox">
        <p>{caption}</p>
    </div>
</div>